<%- include('../partials/_header.ejs') %>
<%- include('../partials/_navbar.ejs') %>




<section id="admin-dashboard">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="users-tab" href="/admin/dashboard" role="tab" aria-controls="users"
                    aria-selected="true">
                    <i class="fas fa-tools"></i>
                    Create Account</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="complaints-tab" href="/admin/complaints" role="tab" aria-controls="complaints"
                    aria-selected="false">
                    <i class="fas fa-envelope-open-text"></i>
                    Complaints</a>
            </li>


            <li class="nav-item">
                <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab"
                    aria-controls="users" aria-selected="true">
                    <i class="fas fa-user-ninja"></i>Users</a>
            </li>
        </ul>


        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">

                <% users.forEach((user) => { %>
                <%= user.name %>
                <% }) %>






            </div>
        </div>

    </div>

</section>





<%- include('../partials/_footer.ejs')%>