

  <!--Jquery JS-->
  <script src="/libs/jquery-3.3.1.min.js"></script>


  <!--Bootstrap JS-->
  <script src="/libs/bootstrap.min.js"></script>

  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/libs/mdb.min.js"></script>


  <!--Popper JS-->
  <script src="/libs/popper.min.js"></script>

  <!--Custom JS -->
  <script src="/assets/js/custom.js"></script>

  </body>

  </html>