<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>E-Complaints | इलेक्ट्रोनिक उजुरी</title>

    <!--Normalise CSS-->
    <link rel="stylesheet" type="text/css" href="/libs/normalize.css" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Material Design Bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
      rel="stylesheet"
    />

    <!--Style css-->
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/css/style.css"
    />
    
    <link rel="stylesheet" href="/assets/css/users.css" />

    <!--Media Query -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" />
  </head>

  <body>
    <div class="loader"></div>
  </body>
</html>
