<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>E-Complaints | इलेक्ट्रोनिक उजुरी</title>

    <!--Normalise CSS-->
    <link rel="stylesheet" type="text/css" href="/libs/normalize.css">

    <!-- Font awesome 5.9-->
    <link rel="stylesheet" href="/libs/fontawesome/css/all.css">

    <!--Bootstrap-->
    <link rel="stylesheet" href="/libs/bootstrap.min.css">

    <!--Material Design for Bootstrap -->
    <link rel="stylesheet" href="/libs/mdb.min.css">

    <!--Style css-->
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css">

    <!--Media Query -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">


</head>

<body>
