<!-- Joi validation message template -->
<% if(typeof errors != 'undefined'){ %>
<div class="alert alert-danger mt-5" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
      aria-hidden="true">&times;</span></button>
  <span>
    <%= errors %>
  </span>
</div>
<% } %>


<!-- Success message template for flash message -->
<% if(success_msg != ''){ %>
<div class="alert alert-info alert-dismissible fade show mt-5" role="alert">
  <%= success_msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>





<!-- Error for worng password-->
<% if(error != ''){ %>
<div class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
  <%= error %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>