html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}





#logout-btn {
    padding: 12px;
}

#logout-btn:hover{
    cursor: pointer;
    background-color: #367cec;
    color: rgb(208, 230, 7);
}


.bold {
    font-size: large;
    font-weight: bold;
}