<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <form action="/complaints/add" method="post">

                <div class="form-group">
                    <label for="citizenship">नागरिकता नम्बर</label>
                    <i class="fas fa-envelope prefix"></i>
                    <input type="text" name="citizenship" id="citizenship" class="form-control" value="<%= typeof (citizenship) != 'undefined' ? citizenship : '' %>" required>
                </div>

                <div class="form-grop">
                    <label for="category">Choose Category</label>
                    <select name="category" class="browser-default custom-select" required>
                        <option value="transport">Transport</option>
                        <option value="agriculture">Agriculture</option>
                        <option value="drinking water">Drinking Water</option>
                    </select>
                </div>

                <div class="form-group mt-3">
                    <label for="description">Enter complaint</label>
                    <textarea name="description" class="form-control" id="description" rows="5" required> <%= typeof (description) != 'undefined' ? description : '' %> </textarea>
                </div>

                <button type="submit" class="btn btn-success btn-block">Send Complaint</button>
            </form>

        </div>


        <div class="col-md-6">
                <div class="card my-3">
                    <div class="card-body">
                        <h4 class="card-title"><a>How To Use It?</a></h4>
                        <p class="card-text">Type Complaint in the Field ,You Will Receive A Reference ID, which You Will Use To Get Your FeedBack</p>
                    </div>
                </div>


                <%- include('../partials/_messages.ejs') %>
        </div>
    </div>
</div>